<% if @model == 'user' %>
  <h3>【Usersモデルの検索結果】検索ワード："<%= @content %>"</h3>
  <%= render 'users/index', users: @dates %>
<% else @model == 'book' %>
  <h3>【Booksモデルの検索結果】検索ワード："<%= @content %>"</h3>
    <%= render 'books/index', books: @dates %>
<% end %>